@font-face {
    font-family: "Josefine";
    src: url("../assets/ubunt/josefinsans/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
  }
  

a{
    text-decoration: none;
    color: black;
    font-family: Josefine;
}

.MuiContainer-root{
    background-color: var(--BLU_POLIBA);
}

