@font-face {
    font-family: "Josefine";
    src: url("../assets/ubunt/josefinsans/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
  }
  
.container_header{
    margin: 20px;
}

.h3{
    margin: 5px;
    font-family: Josefine;
    color: var(--ATOMIC);
}

a{
    text-decoration: none;
    color: black;
    font-family: Josefine;
}

.MuiContainer-root{
    background-color: var(--BLU_POLIBA);
}

