@font-face {
  font-family: "Josefine";
  src: url("../assets/ubunt/josefinsans/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
}

.sidebarContainer{
  /* position: absolute; */
  top: 0;
  width: 17%;
  height: 100vh;
  background: #008295;
  background: linear-gradient(90deg, rgba(189,228,231,1) 0%,#008295  73%);
  font-size: 0.65em;
  transition: width 1000ms;
  box-shadow:10px 10px 10px rgba(0,0,0,.4);
  cursor:pointer;
  z-index: 1000;
    position: fixed;
}

.listaContainer{
  text-transform: uppercase;
  text-decoration: rgb(185, 204, 207);
  letter-spacing: 0.4em;
  display: block;
  transition: all ease-out 300ms;
  list-style: none;
  justify-content: left;
  padding: 0;
}

.listaContainer a{
  color: black;
  font-size: 2vh;
  font-family: Josefine;
  text-decoration: none;
}

.listaContainer li{
  text-align: left;
  justify-content: center;
  background-size: 30px;
  padding: 10px;
}

.listaContainer a:not(:active)::after{
  opacity: 0.2;
}

li:hover{
  background-color:#008295;
  border-radius: 5px;

}

a:not(:focus){
  opacity: 0.2;
}

li:focus a{
  background-color:#008295;
}

